@charset "UTF-8";

body {
    width: 400px;
    height: 450px;
}
header {
    background-color: #141f40;
    height: 100px;
    width: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.h-box {
    background-color: #fff;
    height: 60px;
    width: 160px;
    border: none;
    margin: 20px 20px 20px 220px;
    display: flex;
}
.h-sub {
    background-color: #a9004b;
    height: 40px;
    width: 40px;
    border: none;
    margin: auto;
}
.box {
    height: 250px;
    width: 400px;
    margin: 0;
    padding: 0;
}
.box::after {
    content: "";
    display: block;
    clear: both;
}
.left {
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    margin: 0;
    padding: 0;
    float: left;
}
.right {
    background-color: #8c2727;
    height: 250px;
    width: 250px;
    margin: 0;
    padding: 0;
    float: right;
}
.r-sub {
    background-color: #ff863f;
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    border: solid 5px #fff;
    margin-left: 40px;
    margin-right: 60px;
}
.r-sub:first-child {
    margin-top: 40px;
}
.r-sub:last-child {
    margin-bottom: 40px;
}
.r-sub:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    background-color: #d98d30;
    height: 100px;
    width: 400px;
    margin: 0;
    padding: 0;
}

/* ウィンドウ幅が最大479pxまでの場合に適用(スマホ用) */
@media screen and (max-width: 479px) {
    body {
        width: 200px;
    }
    header {
        background-color: #141f40;
        height: 200px;
        width: 200px;
        margin: 0;
        padding: 0;
    }
    .h-box {
        background-color: #fff;
        height: 160px;
        width: 60px;
        border: none;
        margin: 20px 70px;
        display: flex;
        flex-direction: column;
    }
    .h-sub {
        background-color: #a9004b;
        height: 40px;
        width: 40px;
        border: none;
        margin: auto;
    }
    .box {
        height: 310px;
        width: 200px;
    }
    .left {
        background-color: #80bfa8;
        height: 100px;
        width: 200px;
        margin: 0;
        padding: 0;
    }
    .right {
        background-color: #8c2727;
        height: 210px;
        width: 200px;
        margin: 0;
    }
    .r-sub {
        background-color: #ff863f;
        box-sizing: border-box;
        height: 50px;
        width: 150px;
        border: solid 5px #fff;
        margin-left: 30px;
    }
    .r-sub:first-child {
        margin-top: 20px;
    }
    .r-sub:last-child {
        margin-bottom: 20px;
    }
    .r-sub:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer {
        background-color: #d98d30;
        height: 100px;
        width: 200px;
        margin: 0;
        padding: 0;
    }
}
